<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Amazon Application Test Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:13:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DealsPageTest.ValidateCoupon()[pri:2, instance:com.amazon.testcases.DealsPageTest@29215f06]">ValidateCoupon</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:13:30</td>   <td>28051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DealsPageTest.ValidateWatchdeal()[pri:3, instance:com.amazon.testcases.DealsPageTest@29215f06]">ValidateWatchdeal</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:13:57</td>   <td>55366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DealsPageTest.ValidateamazonAssistant()[pri:4, instance:com.amazon.testcases.DealsPageTest@29215f06]">ValidateamazonAssistant</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:15:14</td>   <td>131884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.addToCart()[pri:2, instance:com.amazon.testcases.SearchPageTest@59505b48]">addToCart</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:12:06</td>   <td>-56079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.checkCauroselTest()[pri:5, instance:com.amazon.testcases.HomePageTest@58d75e99]">checkCauroselTest</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:16:18</td>   <td>195916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.checkcartDeleteTest()[pri:3, instance:com.amazon.testcases.SearchPageTest@59505b48]">checkcartDeleteTest</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:17:15</td>   <td>253649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.checkcartQuantityTest()[pri:4, instance:com.amazon.testcases.SearchPageTest@59505b48]">checkcartQuantityTest</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:11:42</td>   <td>-80131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.clickOnCart()[pri:4, instance:com.amazon.testcases.HomePageTest@58d75e99]">clickOnCart</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:11:19</td>   <td>-102969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.clickOnDeal()[pri:3, instance:com.amazon.testcases.HomePageTest@58d75e99]">clickOnDeal</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:11:52</td>   <td>-70136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.amazon.testcases.HomePageTest@58d75e99]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:11:52</td>   <td>-70136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.amazon.testcases.HomePageTest@58d75e99]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:11:52</td>   <td>-70136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.amazon.testcases.HomePageTest@58d75e99]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:13:32</td>   <td>30378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DealsPageTest.setUp()[pri:0, instance:com.amazon.testcases.DealsPageTest@29215f06]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:13:32</td>   <td>30378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DealsPageTest.setUp()[pri:0, instance:com.amazon.testcases.DealsPageTest@29215f06]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:16:49</td>   <td>226787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchPageTest.setUp()[pri:0, instance:com.amazon.testcases.SearchPageTest@59505b48]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:16:49</td>   <td>226787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchPageTest.setUp()[pri:0, instance:com.amazon.testcases.SearchPageTest@59505b48]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:16:49</td>   <td>226787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchPageTest.setUp()[pri:0, instance:com.amazon.testcases.SearchPageTest@59505b48]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:13:32</td>   <td>30378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DealsPageTest.setUp()[pri:0, instance:com.amazon.testcases.DealsPageTest@29215f06]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:16:49</td>   <td>226787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchPageTest.setUp()[pri:0, instance:com.amazon.testcases.SearchPageTest@59505b48]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:13:32</td>   <td>30378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DealsPageTest.setUp()[pri:0, instance:com.amazon.testcases.DealsPageTest@29215f06]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:11:52</td>   <td>-70136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.amazon.testcases.HomePageTest@58d75e99]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:11:52</td>   <td>-70136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.amazon.testcases.HomePageTest@58d75e99]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:13:57</td>   <td>55410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DealsPageTest.tearDown()[pri:0, instance:com.amazon.testcases.DealsPageTest@29215f06]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:12:06</td>   <td>-56013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.amazon.testcases.HomePageTest@58d75e99]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:13:57</td>   <td>55410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DealsPageTest.tearDown()[pri:0, instance:com.amazon.testcases.DealsPageTest@29215f06]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:12:06</td>   <td>-56013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.amazon.testcases.HomePageTest@58d75e99]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:17:40</td>   <td>277875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchPageTest.tearDown()[pri:0, instance:com.amazon.testcases.SearchPageTest@59505b48]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:17:40</td>   <td>277875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchPageTest.tearDown()[pri:0, instance:com.amazon.testcases.SearchPageTest@59505b48]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:13:57</td>   <td>55410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DealsPageTest.tearDown()[pri:0, instance:com.amazon.testcases.DealsPageTest@29215f06]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:12:06</td>   <td>-56013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.amazon.testcases.HomePageTest@58d75e99]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:13:57</td>   <td>55410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DealsPageTest.tearDown()[pri:0, instance:com.amazon.testcases.DealsPageTest@29215f06]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:17:40</td>   <td>277875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchPageTest.tearDown()[pri:0, instance:com.amazon.testcases.SearchPageTest@59505b48]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:12:06</td>   <td>-56013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.amazon.testcases.HomePageTest@58d75e99]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:17:40</td>   <td>277875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchPageTest.tearDown()[pri:0, instance:com.amazon.testcases.SearchPageTest@59505b48]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:12:06</td>   <td>-56013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.amazon.testcases.HomePageTest@58d75e99]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="b67e80">  <td>22/05/10 10:14:24</td>   <td>82486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.validateProducts()[pri:1, instance:com.amazon.testcases.SearchPageTest@59505b48]">validateProducts</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:10:32</td>   <td>-149944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyLogo()[pri:1, instance:com.amazon.testcases.HomePageTest@58d75e99]">verifyLogo</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="a7f793">  <td>22/05/10 10:12:32</td>   <td>-29611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DealsPageTest.verifyallDeals()[pri:1, instance:com.amazon.testcases.DealsPageTest@29215f06]">verifyallDeals</td> 
  <td>main@443934570</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/10 10:10:52</td>   <td>-129620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifysearch()[pri:2, instance:com.amazon.testcases.HomePageTest@58d75e99]">verifysearch</td> 
  <td>main@443934570</td>   <td></td> </tr>
</table>
