<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69759b">  <td>22/05/24 12:16:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchPageTest.tearDown()[pri:0, instance:com.amazon.testcases.SearchPageTest@1e04fa0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/24 12:16:34</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchPageTest.setUp()[pri:0, instance:com.amazon.testcases.SearchPageTest@1e04fa0a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1058609221</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/24 12:16:34</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.checkcartQuantityTest()[pri:4, instance:com.amazon.testcases.SearchPageTest@1e04fa0a]">checkcartQuantityTest</td> 
  <td>main@1058609221</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/24 12:16:34</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPageTest.addToCart()[pri:2, instance:com.amazon.testcases.SearchPageTest@1e04fa0a]">addToCart</td> 
  <td>main@1058609221</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/24 12:16:34</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchPageTest.setUp()[pri:0, instance:com.amazon.testcases.SearchPageTest@1e04fa0a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1058609221</td>   <td></td> </tr>
<tr bgcolor="69759b">  <td>22/05/24 12:16:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchPageTest.tearDown()[pri:0, instance:com.amazon.testcases.SearchPageTest@1e04fa0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
